{% extends 'base.html.twig' %}
{% block title 'Add Recipe'%}
{% block body %}
    <div class="form-container">
            <h1 class="h3 mb-3 font-weight-normal text-center">Créer une nouvelle Recette</h1>          
            {{ form(monForm) }}
        
    </div>
{% endblock %}